.place{
  padding: 40px 0;
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;  
}

.place:last-child{
  margin-bottom: 0;
}
  
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place{
      grid-template-columns: 440px 1fr;
      column-gap: 32px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1023px){
    .place{
      padding: 36px 0;
      grid-template-columns: 340px 1fr;
      column-gap: 28px;
    }
}
  
@media screen and (max-width: 767px){
    .place{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      gap: 32px;
    }
}